
*.plist

Get Genres from Discogs.app/Contents/MacOS/applet

Get Genres from Discogs.app/Contents/Resources/applet.icns

Get Genres from Discogs.app/Contents/PkgInfo

Get Genres from Discogs.app/Contents/Resources/applet.rsrc

Get Genres from Discogs.app/Contents/Resources/Scripts/main.scpt
